@font-face {
    font-family: "Circular";
    src: url(font/CircularStd-Black.otf) format("opentype")
}

@font-face {
    font-family: "Circular";
    font-weight: bold;
    src: url(font/CircularStd-Bold.otf) format("opentype")
}

@font-face {
    font-family: "CircularMedium";
    src: url(font/CircularStd-Medium.otf) format("opentype")
}

body {
    background: url("img/bg.png")
}

.display-4 {
    font-family: 'Circular';
    
}

.herotext {
    margin-top: 70px;
}

.subtext {
    font-family: "Lora";
    
    margin-top: 50px;
    color: #A3AAAE;
}

.heroimage {
    margin-left: 140px;
    margin-top: 20px;
}

.title {
    font-family: "Circular";
    font-style: bold;
    font-size: 41;
    margin-bottom: 60px;
}

.aboutme {
    font-family: "Lora";
    font-size: 25px;
}

.projects {
    font-family: "Lora";
    font-size: 30px;
}

.project {
    margin-top: 40px;
    margin-bottom: 40px;
}

.competencies {
    margin-bottom: 50px;
}

.competencies p {
    font-family: "Lora";
}

.competencies button {
    color: black;
    font-family: "Lora";
    text-decoration: none;
}

.competencies button:hover {
    color: #FC5C65;
    text-decoration: none;
}

a {
    color: #FC5C65;
    text-decoration: none;
}

a:hover {
    color: #FC5C65;
    text-decoration: none;
}

.competencies a {
    font-family: "Lora";
}

hr {
    margin-top: 130px;
    margin-bottom: 30px;
}

.checked {
    color: #FC5C65;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: rgb(19, 19, 19);
}

footer div {
    color: rgb(206, 206, 206);
    text-decoration: none;

}

footer img {
    height: 30px;
    width: 30px;
    color: gray;
}

.container-fluid {
    padding: 0px;
}

.answer {
    font-family: "Lora";
}

/* .questions .row {
    margin-bottom: 50px;
} */

.questions .display-4 {
    font-size: 40px;
}

.questions hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

hr {
    width: 95%;
}