@font-face {
    font-family: "Circular";
    src: url(font/CircularStd-Black.otf) format("opentype")
}

@font-face {
    font-family: "Circular";
    font-weight: bold;
    src: url(font/CircularStd-Bold.otf) format("opentype")
}

@font-face {
    font-family: "CircularMedium";
    src: url(font/CircularStd-Medium.otf) format("opentype")
}

body {
    background: url("img/bg.png")
}

.display-4 {
    font-family: 'Circular';
    margin-top: 70px;
}

.subtext {
    font-family: "Circular";
    
    margin-top: 50px;
    color: #A3AAAE;
}

.heroimage {
    margin-left: 140px;
    margin-top: 20px;
}

.title {
    font-family: "Circular";
    font-style: bold;
    font-size: 41;
    margin-bottom: 60px;
}

.aboutme .title {
    font-family: "Circular";
    font-size: 28px;
    line-height: 30px;
}

.aboutme {
    font-family: "Circular";
    font-size: 25px;
}

.projects {
    font-family: "Circular";
    font-size: 30px;
}

.project {
    margin-top: 40px;
    margin-bottom: 40px;
}

.competencies {
    margin-bottom: 50px;
}

hr {
    margin-top: 130px;
    margin-bottom: 30px;
}

.checked {
    color: #FC5C65;
}